@import url(https://fonts.googleapis.com/css?family=Scope+One:regular);
html,body{
    margin:0;
    padding:0;
    font-family: 'Scope One',sans-serif;
}
.container{
    padding:5vw;
    position: absolute;
    top:0;
    right:0;
    left:0;
    transition:0.5s all;
    bottom:0;
}
.fb_iframe_widget {
    opacity:0;
    position: fixed!important;
    bottom: 25px;
    right: -30px;
    z-index:5555;
}
.fb_iframe_widget > span{
    width:250px;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
  .grayscale{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width:20px!important;
  }
.progressbar{
    width:50vw;
    display:flex;
    height:4px;
}

header{
    position:fixed;
    top:0;
    left:15vw;
    padding:20px;
}
.nicebar{
    background:lightsalmon;
}
.whitebar{
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3)!important;
background-size: 1800% 1800%!important;
color:white;
-webkit-animation: rainbow 18s ease infinite!important;
-z-animation: rainbow 18s ease infinite!important;
-o-animation: rainbow 18s ease infinite!important;
  animation: rainbow 18s ease infinite!important;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


.greybar{
    background:grey;
}
.bigoverlay{
    position:fixed;
    top:0;bottom:0;right:0;left:0;
    background:#222;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
    flex-direction:column;
    color:white;
}
.whiteMode{
    display:none;
    animation: fade 0.5s linear;
    flex-direction:column;
    height:80vh;
}
.person_name{
    font-size:12px;
    background: lightyellow;
}
.pplthumb{
    border-radius: 50%;
    width:36px;
    transition:0.2s all;
    border:3px solid white;
}
.pplthumb:hover{
border:3px solid rgb(111, 180, 226);
}
.pplthumbdiv{
    display:none;
    flex-direction:column-reverse;
    align-items: center;
}
.selected{
    text-decoration: underline;
}
.menu{
    margin-top:auto;
    position:fixed;
    text-align: center;
    top:0;
    background-color:rgb(240,240,240,0.75);
    width:15vw;
    left:0;
    height:100vh;
}

#tv{
    position:fixed;
    bottom:0;
    right:0;
    left:15vw; 
    padding:20px;
    padding-bottom:0px;
    z-index:100;
    max-width: 700px;

}
.show_date{
    font-size:12px;
    font-weight: bold;
    background:rgba(255,255,255,0.89);
    display: inline-block;
}
.onResume{
    display: none;
}
.playpausezone{
    float:right;
    font-size:12px;
    margin-top: 15px;
    cursor:pointer;
    color:rgb(111, 180, 226);
    text-decoration: underline;
}
.playpausezone > span{
    margin:0 10px;
}
.hash{
    font-size:12px;
}
.show_tweet{
    
    font-size:1.4em;
    color:rgb(82, 82, 82);
    background:rgba(255,255,255,0.89);
}
.show_person{
    color:rgb(32, 123, 243);
    font-weight: bold;
    font-size:16px;
    margin-top:15px;
    display: inline-block;
    background:rgba(255,255,255,0.89);

}

#title{
font-size:12px;
padding-bottom:0;
}
#fthash{
    color:rgb(32, 123, 243);
    font-weight:bold;
    margin:0;
}
.checkbox-group{
    display:flex;
}
#featured{
    margin: 0;
}
#title{
    margin:0;
}
.infoBox{
    width:18vw;
    position:fixed;
    top:1vh;
    height:60vh;
    right:0;
}
.helper{
    color:rgb(61, 184, 255);
    text-decoration: underline;
    font-size: 12px;
}
.infoBox > h5{
    margin:0;
    margin-top:15px;
    font-family:sans-serif;
}
.dimmed{
    opacity:0.12;
}
.dimmed > .person_name{
    background:rgb(229, 147, 147);
    color:white;
}
.logo{
    margin:20px;
    cursor: pointer;
}
header{
    position:fixed;
    top:0;
    display: flex;
    flex-direction: column;
}
.cat{

    transition:0.2s all;

}
.answer{
    font-size:12px;
}
.cat:hover{
    text-decoration: underline;
    cursor:pointer;
}
.cat::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.control{

}
.cats{
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}
@keyframes fade {
    0%{ opacity: 0 }
    100% { opacity: 1 }
  }
.logo{
    width:120px;
}
.message{
    color:white;
    font-size:1.45em;
    width:60vw;
    line-height: 1.75;
    margin-left:10vw;
}
.new{
    background:red;
    width:300px;
}
.large{
    font-size:1.7em;
    font-weight: 700;
}
.source{
    color:white;
    font-size:0.5em;
    font-weight:100;
}

.continue{
    color:white;
    padding:10px 20px;
    font-size:18px;
    transition:0.2s all;
    border:2px solid white;
}
.continue:hover{
    border:2px solid white;
    background:white;
    color:#222;
    cursor: pointer;
    transition:0.2s all;
}
.white-btn{
    color:white!important;
}
#p5container{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:-1;
}
.mobDrop{
    display: none;
}
@media only screen and (max-width:600px){

.message{
    width: 90vw;
    font-size:1.2em;
    margin:0;
}
.menu{

    position:fixed;
    text-align: center;
    bottom:0;
    background-color:rgb(240,240,240,0.75);
    width:100vw;
    left:0;
    height:20vh;
    transition: 0.4s ease-in all;
}
.cats{
    
    display:none;
    
}
.mobDrop{
    display:block;
    margin:auto;
    font-size: 1.4em;
    text-align-last:center;
    text-align:center;
}
#tv{
    display:none;
}

.selected > .name{
    font-weight: 700;
    font-size:1em!important;
}
.cat{
    float:left;
}
.large{
    line-height:1.3;
}
.whiteMode{
    height:90vh;
}
}